body {
    margin: 0;
}

#nav {
    // border: 2px solid saddlebrown;
    position: sticky;
    top: 0;
    background-color: green;
    z-index: 2;
}

#nav-list {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    
    a {
        padding: 4px;
        border-radius: 3px;
        color: white;
        text-decoration: none;
    }

    
    a:hover {
        background-color: yellow;
        color: green;
    }
    
    a:active {
        color: white;
        background-color: red;
    }
}

.main-con {
    margin: auto;
    background-image: url("main-image4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

h1 {
    text-align: center;
}

.groc {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
    position: absolute;
    top: 60%;
    left: 19%;
    margin: auto;
    font-size: 68px;
    font-weight: 900;
    color: rgb(0, 255, 166);
    // color: rgb(255, 255, 255);

    animation: groc 1s linear ;
}

.categories {
    // background-color: aqua;
    // border: 2px solid rgb(63, 212, 138);
    overflow-y: hidden;
    display: flex;
    justify-content: space-around;
    padding-bottom: 60px;
    padding-top: 20px;
    animation: products 1s linear normal;
    // animation-iteration-count: 2;
    
    .section {
        border:  2px solid rgb(63, 212, 138);
        background-color: rgb(63, 212, 138);
        width: 230px;
        height: fit-content;
        padding: 0;
        border-radius: 10px;
    }
    
    .top-green {
        display: flex;
        justify-content: center;
        align-items: center;
        // margin: auto;
        // border:  1px solid rgb(63, 212, 138);
        background-color: rgb(21, 153, 109);
        width: calc(100% - 2px);
        height: 60px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    
        // h2 {
        //     margin: auto;
        // }
    }
    
    img {
        width: 100%;
        height: 150px;
        display: block;
    }
    .view-more {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 100%;
        height: 60px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    
        button {
            background-color: rgb(63, 212, 138);
            border-radius: 5px;
            padding: 5px;
            border: none;
            color: white;
        }

        button:hover {
            border: rgb(21, 153, 109) solid 2px;
            color: rgb(21, 153, 109) 
        }
    }
}

.section:hover {
    color: white;
}

.media {
    background-color: rgb(17, 156, 38);
    width: 40px;
    height: 180px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    right: 0;
    top: 26%;
    transition:  height 0.8s, width 1s;
    // animation: media 0.3s linear infinite;
    animation-timing-function: linear;
    animation-name: media1;
    animation-iteration-count: 1;
    animation-duration: 2s;
    
    .social {
        transition:  height 0.8s, width 1s;
        background-color: blue;
        width: 100%;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    //facebook
    #facebook {
        // border: 1px solid firebrick;
        color: white;
        border-top-left-radius: 10px;
        background-color: rgb(8, 30, 200);
    }
    #facebook:hover {
        // border: 1px solid firebrick;
        border-top-left-radius: 10px;
        background-color: rgb(249, 249, 249);
        color: rgb(8, 30, 200);
    }

    //twitter
    #twitter {
        // border: 1px solid firebrick;
        color: white;
        background-color: rgb(40, 148, 206);
    }
    #twitter:hover {
        // border: 1px solid firebrick;
        background-color: white;
        color: rgb(40, 148, 206);
    }

    //instagram
    #instagram {
        // border: 1px solid firebrick;
        color: white;
        background-color: rgb(204, 7, 33);
    }
    #instagram:hover {
        // border: 1px solid firebrick;
        background-color: white;
        color: rgb(204, 7, 33);
    }

    //tiktok
    #tiktok {
        // border: 1px solid firebrick;
        border-bottom-left-radius: 10px;
        color: white;
        background-color: rgb(0, 0, 0);
    }
    #tiktok:hover {
        // border: 1px solid firebrick;
        border-bottom-left-radius: 10px;
        background-color: white;
        color: rgb(0, 0, 0);
    }

    i {
        display: block;
        padding: 10%;
        font-size: 30px;
        animation-timing-function: linear;
        animation-name: media2;
        animation-iteration-count: 1;
        animation-duration: 4s;
        // opacity: 0;
        transition: opacity .4s ease .4s;
    }
}

.media:hover {
    width: 90px;
    height: 240px;

    .social {
        width: 100%;
        height: 60px;
    }
}

form {
    width: 260px;
    height: 50px;
    // border: 2px solid bisque;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(6, 111, 37);
    position: fixed;
    right: 0%;
    bottom: 0%;
    transition: height 0.6s;

    i {
        margin-top: 4px;
        margin-left: 4px;
        color: rgb(250, 250, 250);
    }

    .contact {
        display: flex;
        // display: block;
        width: 100%;
        // border-radius: 10px;
        // border: 2px solid darkcyan;
        color: white;

        p {
            font-weight: 800;
        }
    }

    .info {
        background-color: rgb(21, 153, 109);
    

        .names {
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            // border: 2px solid darkcyan;
        }
    
        .message {
            display: flex;
            justify-content: space-between;
            padding-bottom: 10px;
            // border: 2px solid darkcyan;
        }
    
        label:nth-of-type(1) {
            // margin-bottom: 5px;
            margin-top: 5px;
        }
        input:nth-of-type(1) {
            // margin-bottom: 5px;
            margin-top: 5px;
        }
    }
    
    .submit {
        background-color: rgb(21, 153, 109);
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
    
        input {
            background-color: rgb(63, 212, 138);
            border-radius: 5px;
            padding: 5px;
            border: none;
            color: white;
        }

        input:hover {
            border: rgb(21, 153, 109) solid 2px;
            color: rgb(21, 153, 109);
        }
    }
}

form:hover {
    height: 230px;
}

.copyright {
    display: block;
    background-color: gray;
    margin: 0;
    position: sticky;
    z-index: 6;
    width: 100%;
    // height: 20px;
    animation: none;
    transition: none;
    bottom: 0;
    text-align: center;
}

@keyframes products {
    0% {
        opacity: 0;
        margin-top: 600px;
    }

    100% {
        margin-top: 0px;
        // margin-bottom: 160px;
    }
}

@keyframes groc {
    0% {
        top: -10px;
        // opacity: 0;
    }
    100% {
        top: 60%;
        // opacity: 0;
    }
}

@keyframes media1 {
    0% {
        right: -100px;
        // top: -10px;
        opacity: 1;
    }
    100% {
        right: 0;
        // top: 50%;
        opacity: 1;
    }
}
@keyframes media2 {
    0% {
        right: -100px;
        // top: -10px;
        opacity: 0;
    }
    100% {
        right: 0;
        // top: 50%;
        opacity: 1;
    }
}

@media (max-width: 1007px) {
    body {
        background-color: white;
        // border: 2px solid salmon; 
        margin: 0%;
        padding: 0;
        // overflow: hidden;
    }
    
    .main-con {
        // border: 2px solid rgb(114, 189, 250);
        margin: auto;
        background-image: url("main-image4.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 35vh;
    }   

        
h1 {
    text-align: center;
}

.groc {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
    position: absolute;
    top: 20%;
    left: 16%;
    margin: auto;
    font-size: 20px;
    font-weight: 900;
    color: rgb(157, 255, 0);
    // color: rgb(255, 255, 255);
    animation: groc 5s linear;
    opacity: 0;
}

.categories {
    // background-color: aqua;
    // border: 2px solid rgb(63, 212, 138);
    overflow-y: hidden;
    display: flex;
    // justify-content: space-around;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 23px;
    padding-bottom: 60px;
    padding-top: 20px;
    animation: products 1s linear normal;
    // animation-iteration-count: 2;
    
    .section {
        border:  2px solid rgb(63, 212, 138);
        background-color: rgb(63, 212, 138);
        width: 230px;
        height: fit-content;
        padding: 0;
        border-radius: 10px;
    }
    
    .top-green {
        display: flex;
        justify-content: center;
        align-items: center;
        // margin: auto;
        // border:  1px solid rgb(63, 212, 138);
        background-color: rgb(21, 153, 109);
        width: calc(100% - 2px);
        height: 60px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    
        // h2 {
        //     margin: auto;
        // }
    }
    
    img {
        width: 100%;
        height: 150px;
        display: block;
    }
    .view-more {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 100%;
        height: 60px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    
        button {
            background-color: rgb(63, 212, 138);
            border-radius: 5px;
            padding: 5px;
            border: none;
            color: white;
        }

        button:hover {
            border: rgb(21, 153, 109) solid 2px;
            color: rgb(21, 153, 109) 
        }
    }
}

.section:hover {
    color: white;
}

form {
    height: 70px;
    transition: height 4.6s;


    .info {
        background-color: rgb(21, 153, 109);
        color: white;
    }
}

form:hover {
    height: 245px;
}



@keyframes products {
    0% {
        opacity: 0;
        margin-right: 600px;
    }

    100% {
        margin-top: 0px;
        // margin-bottom: 160px;
    }
}

@keyframes groc {
    0% {
        top: -10px;
        opacity: 1;
    }
    50% {
        top: 20%;
        opacity: 1;
    }
    70% {
        top: 20%;
        opacity: 1;
    }
    100% {
        top: 20%;
        opacity: 0;
    }
}



}