body {
    margin: 0;
}

#nav {
    // border: 2px solid saddlebrown;
    background-color: green;
}

#nav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    margin: 0;

    a {
    color: white;
        text-decoration: none;
    }

}

.main-con {
    margin: auto;
    background-image: url("main-image.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    // border: 2px solid rgb(74, 3, 149);
    width: 99%;
    height: 100vh;
}


// .main-grocery {
// }