body {
  margin: 0;
}

#nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: green;
  z-index: 2;
}

#nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  height: 50px;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}
#nav-list a {
  padding: 4px;
  border-radius: 3px;
  color: white;
  text-decoration: none;
}
#nav-list a:hover {
  background-color: yellow;
  color: green;
}
#nav-list a:active {
  color: white;
  background-color: red;
}

.main-con {
  margin: auto;
  background-image: url("main-image4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

h1 {
  text-align: center;
}

.groc {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: absolute;
  top: 60%;
  left: 19%;
  margin: auto;
  font-size: 68px;
  font-weight: 900;
  color: rgb(0, 255, 166);
  -webkit-animation: groc 1s linear;
          animation: groc 1s linear;
}

.categories {
  overflow-y: hidden;
  display: flex;
  justify-content: space-around;
  padding-bottom: 60px;
  padding-top: 20px;
  -webkit-animation: products 1s linear normal;
          animation: products 1s linear normal;
}
.categories .section {
  border: 2px solid rgb(63, 212, 138);
  background-color: rgb(63, 212, 138);
  width: 230px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0;
  border-radius: 10px;
}
.categories .top-green {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(21, 153, 109);
  width: calc(100% - 2px);
  height: 60px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.categories img {
  width: 100%;
  height: 150px;
  display: block;
}
.categories .view-more {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 60px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.categories .view-more button {
  background-color: rgb(63, 212, 138);
  border-radius: 5px;
  padding: 5px;
  border: none;
  color: white;
}
.categories .view-more button:hover {
  border: rgb(21, 153, 109) solid 2px;
  color: rgb(21, 153, 109);
}

.section:hover {
  color: white;
}

.media {
  background-color: rgb(17, 156, 38);
  width: 40px;
  height: 180px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  right: 0;
  top: 26%;
  transition: height 0.8s, width 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-name: media1;
          animation-name: media1;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
.media .social {
  transition: height 0.8s, width 1s;
  background-color: blue;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.media #facebook {
  color: white;
  border-top-left-radius: 10px;
  background-color: rgb(8, 30, 200);
}
.media #facebook:hover {
  border-top-left-radius: 10px;
  background-color: rgb(249, 249, 249);
  color: rgb(8, 30, 200);
}
.media #twitter {
  color: white;
  background-color: rgb(40, 148, 206);
}
.media #twitter:hover {
  background-color: white;
  color: rgb(40, 148, 206);
}
.media #instagram {
  color: white;
  background-color: rgb(204, 7, 33);
}
.media #instagram:hover {
  background-color: white;
  color: rgb(204, 7, 33);
}
.media #tiktok {
  border-bottom-left-radius: 10px;
  color: white;
  background-color: rgb(0, 0, 0);
}
.media #tiktok:hover {
  border-bottom-left-radius: 10px;
  background-color: white;
  color: rgb(0, 0, 0);
}
.media i {
  display: block;
  padding: 10%;
  font-size: 30px;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-name: media2;
          animation-name: media2;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  transition: opacity 0.4s ease 0.4s;
}

.media:hover {
  width: 90px;
  height: 240px;
}
.media:hover .social {
  width: 100%;
  height: 60px;
}

form {
  width: 260px;
  height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(6, 111, 37);
  position: fixed;
  right: 0%;
  bottom: 0%;
  transition: height 0.6s;
}
form i {
  margin-top: 4px;
  margin-left: 4px;
  color: rgb(250, 250, 250);
}
form .contact {
  display: flex;
  width: 100%;
  color: white;
}
form .contact p {
  font-weight: 800;
}
form .info {
  background-color: rgb(21, 153, 109);
}
form .info .names {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
form .info .message {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
form .info label:nth-of-type(1) {
  margin-top: 5px;
}
form .info input:nth-of-type(1) {
  margin-top: 5px;
}
form .submit {
  background-color: rgb(21, 153, 109);
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
form .submit input {
  background-color: rgb(63, 212, 138);
  border-radius: 5px;
  padding: 5px;
  border: none;
  color: white;
}
form .submit input:hover {
  border: rgb(21, 153, 109) solid 2px;
  color: rgb(21, 153, 109);
}

form:hover {
  height: 230px;
}

.copyright {
  display: block;
  background-color: gray;
  margin: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 6;
  width: 100%;
  bottom: 0;
  text-align: center;
}

@-webkit-keyframes products {
  0% {
    opacity: 0;
    margin-top: 600px;
  }
  100% {
    margin-top: 0px;
  }
}

@keyframes products {
  0% {
    opacity: 0;
    margin-top: 600px;
  }
  100% {
    margin-top: 0px;
  }
}
@-webkit-keyframes groc {
  0% {
    top: -10px;
  }
  100% {
    top: 60%;
  }
}
@keyframes groc {
  0% {
    top: -10px;
  }
  100% {
    top: 60%;
  }
}
@-webkit-keyframes media1 {
  0% {
    right: -100px;
    opacity: 1;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}
@keyframes media1 {
  0% {
    right: -100px;
    opacity: 1;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}
@-webkit-keyframes media2 {
  0% {
    right: -100px;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}
@keyframes media2 {
  0% {
    right: -100px;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}
@media (max-width: 1007px) {
  body {
    background-color: white;
    border: 2px solid salmon;
    margin: 0%;
    padding: 0;
  }
  .main-con {
    margin: auto;
    background-image: url("main-image4.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 35vh;
  }
  h1 {
    text-align: center;
  }
  .groc {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    position: absolute;
    top: 20%;
    left: 16%;
    margin: auto;
    font-size: 20px;
    font-weight: 900;
    color: rgb(157, 255, 0);
    -webkit-animation: groc 5s linear;
            animation: groc 5s linear;
    opacity: 0;
  }
  .categories {
    overflow-y: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 23px;
    padding-bottom: 60px;
    padding-top: 20px;
    -webkit-animation: products 1s linear normal;
            animation: products 1s linear normal;
  }
  .categories .section {
    border: 2px solid rgb(63, 212, 138);
    background-color: rgb(63, 212, 138);
    width: 230px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0;
    border-radius: 10px;
  }
  .categories .top-green {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(21, 153, 109);
    width: calc(100% - 2px);
    height: 60px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .categories img {
    width: 100%;
    height: 150px;
    display: block;
  }
  .categories .view-more {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 60px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .categories .view-more button {
    background-color: rgb(63, 212, 138);
    border-radius: 5px;
    padding: 5px;
    border: none;
    color: white;
  }
  .categories .view-more button:hover {
    border: rgb(21, 153, 109) solid 2px;
    color: rgb(21, 153, 109);
  }
  .section:hover {
    color: white;
  }
  form {
    transition: height 0.6s;
  }
  form .info {
    background-color: rgb(21, 153, 109);
    color: white;
  }
  form:hover {
    height: 245px;
  }
  @-webkit-keyframes products {
    0% {
      opacity: 0;
      margin-right: 600px;
    }
    100% {
      margin-top: 0px;
    }
  }
  @keyframes products {
    0% {
      opacity: 0;
      margin-right: 600px;
    }
    100% {
      margin-top: 0px;
    }
  }
  @-webkit-keyframes groc {
    0% {
      top: -10px;
      opacity: 1;
    }
    50% {
      top: 20%;
      opacity: 1;
    }
    70% {
      top: 20%;
      opacity: 1;
    }
    100% {
      top: 20%;
      opacity: 0;
    }
  }
  @keyframes groc {
    0% {
      top: -10px;
      opacity: 1;
    }
    50% {
      top: 20%;
      opacity: 1;
    }
    70% {
      top: 20%;
      opacity: 1;
    }
    100% {
      top: 20%;
      opacity: 0;
    }
  }
}/*# sourceMappingURL=styles.css.map */