body {
  margin: 0;
}

#nav {
  background-color: green;
}

#nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  height: 50px;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}
#nav-list a {
  padding: 4px;
  border-radius: 3px;
  color: white;
  text-decoration: none;
}
#nav-list a:hover {
  background-color: yellow;
  color: green;
}
#nav-list a:active {
  color: white;
  background-color: red;
}

.main-con {
  margin: auto;
  background-image: url("main-image4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

h1 {
  text-align: center;
}

.groc {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: absolute;
  top: 60%;
  left: 19%;
  margin: auto;
  font-size: 68px;
  font-weight: 900;
  color: rgb(0, 255, 166);
  -webkit-animation: groc 1s linear;
          animation: groc 1s linear;
}

.categories {
  overflow-y: hidden;
  display: flex;
  justify-content: space-around;
  padding-bottom: 60px;
  padding-top: 20px;
  -webkit-animation: products 1s linear normal;
          animation: products 1s linear normal;
}
.categories .section {
  border: 2px solid rgb(63, 212, 138);
  background-color: rgb(63, 212, 138);
  width: 230px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0;
  border-radius: 10px;
}
.categories .top-green {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(21, 153, 109);
  width: calc(100% - 2px);
  height: 60px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.categories img {
  width: 100%;
  height: 150px;
  display: block;
}
.categories .view-more {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 60px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.categories .view-more button {
  background-color: rgb(63, 212, 138);
  border-radius: 5px;
  padding: 5px;
  border: none;
  color: white;
}
.categories .view-more button:hover {
  border: rgb(21, 153, 109) solid 2px;
  color: rgb(21, 153, 109);
}

.media {
  background-color: rgb(17, 156, 38);
  width: 40px;
  height: 180px;
  position: absolute;
  right: 0;
  top: 26%;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-name: media;
          animation-name: media;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.media .social {
  background-color: blue;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.media #facebook {
  background-color: rgb(8, 30, 200);
}
.media #twitter {
  background-color: rgb(40, 148, 206);
}
.media #instagram {
  background-color: rgb(204, 7, 33);
}
.media #tiktok {
  background-color: rgb(0, 0, 0);
}
.media i {
  display: block;
  padding: 10%;
  font-size: 30px;
  color: white;
  opacity: 0;
  transition: opacity 0.4s ease 0.4s;
}

div.media {
  width: 90px;
  height: 300;
  opacity: 1;
}
div.media .social {
  height: 75px;
}
div.media i {
  opacity: 1;
}

form {
  width: 260px;
  height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(6, 111, 37);
  position: fixed;
  right: 0%;
  bottom: 0%;
  transition: height 0.6s;
}
form i {
  margin-top: 4px;
  margin-left: 4px;
  color: rgb(250, 250, 250);
}
form .contact {
  display: flex;
  width: 100%;
  color: white;
}
form .contact p {
  font-weight: 800;
}
form .info {
  background-color: rgb(21, 153, 109);
}
form .info .names {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
form .info .message {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
form .info label:nth-of-type(1) {
  margin-top: 5px;
}
form .info input:nth-of-type(1) {
  margin-top: 5px;
}
form .submit {
  background-color: rgb(21, 153, 109);
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
form .submit input {
  background-color: rgb(63, 212, 138);
  border-radius: 5px;
  padding: 5px;
  border: none;
  color: white;
}
form .submit input:hover {
  border: rgb(21, 153, 109) solid 2px;
  color: rgb(21, 153, 109);
}

form:hover {
  height: 230px;
}

@-webkit-keyframes products {
  0% {
    opacity: 0;
    margin-top: 600px;
  }
  100% {
    margin-top: 0px;
  }
}

@keyframes products {
  0% {
    opacity: 0;
    margin-top: 600px;
  }
  100% {
    margin-top: 0px;
  }
}
@-webkit-keyframes groc {
  0% {
    top: -10px;
  }
  100% {
    top: 50%;
  }
}
@keyframes groc {
  0% {
    top: -10px;
  }
  100% {
    top: 50%;
  }
}
@-webkit-keyframes media {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes media {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=styles.css.map */